/*-------------------ESTILOS DEL HEADER-----------------*/
.header {
    @include tamanio(100%,auto);
    background-image: url('/images/logoshoescity.webp');
    background-size: cover;   /* Cubre toda el área de la sección */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white;   /* Cambia el color del texto a blanco para contraste */
    font-weight: 400;
    text-align: center; 
    overflow: hidden; /* Evita que el contenido se desborde */;
    
    position: fixed; /* Fija el header en su posición */
    top: 0; /* Se mantiene en la parte superior */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima del contenido */

    .titulo {
        @include tamanio(100%,12vh);
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5vh;
        overflow: hidden; /* Evita que el contenido se desborde */;
        h1 {
            text-align: center;
            color: white;
            font-size: 6vh;
        }
        p {
            color: white;
        }
    }

    .login-carrito {
        @include tamanio(100%,12vh);
        display: flex;
        align-items: center;
        flex-direction: column;
        button {
            @include tamanio(100%,4vh);
            margin-top: 1vh;   
            background-color: $color-3; 
            a {
                color: white;
                text-decoration: none;
            }
        }
        button:active {
            color: $color-4;
        }
        button:hover{
            border: solid 3px $color-4;
            a{
                color: $color-4;
            }
        }
    }

    .nav {
        @include tamanio(100%,auto);
        padding: 0;
        padding-bottom: 0.5vh;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        align-items: center;
        div {    
            /* background-color: $color-3; */ 
            button{
                background-color: $color-3;

            }
            div {
                ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex; 
                    justify-content: space-between;
                    list-style-type: none;
                    /* Fonts del nav */
                    font-family: "New Amsterdam", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    li {
                        @include tamanio(100%,6vh);
                        background-color: $color-3;
                        margin-left: 0.5vh;
                        margin-right: 0.5vh;
                        overflow: hidden;
                          
                        a {
                            display: block;
                            text-align: center;
                            color: white;
                            font-size: 3vh;
                            transition: all 0.5s ease-out;
                        }
                        a:hover, a:focus {
                            background-color: $color-5;
                        }
                    }
                    li:hover {
                        border: solid 3px $color-4;
                        a{
                            color: $color-4;
                        } 
                    }
                }
            }
        }
    }
}

/*--------------ESTILOS DEL FOOTER---------------*/
.footer {
    @include tamanio(100%,8vh);
    display: flex;
    flex-direction: row;
    flex-shrink: 0; /* Evita que el footer se reduzca */
    background-color: $color-2;
    list-style-type: none;
    padding: 2vh;
    justify-content: space-around;
    /* Fonts del footer */
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2px;
    a {
        @include tamanio(100%,4vh);
        text-align: center;
        
    }
    a:active {
        color: $color-4;
    }
    a:hover{
        border: solid 3px $color-4;
       
    }
}