/*------------------------ESTILOS DE INDEX.HTML-----------------------*/

/*--------------ESTILOS DE SECCION CAROUSEL---------------*/
.carousel {
    @include tamanio(100%,auto);
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2vh;
    div {
        img {
            @include tamanio(70%,auto);
            display: block;
            width: 100%;
        }
    }
}

/*--------------ESTILOS DE SECCION CATEGORIAS---------------*/
.categorias {
    @include tamanio(100%,auto);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
    padding-top: 2vh;
    list-style-type: none;
    align-items: center;
    div {
        @include tamanio(50%,auto);
        margin: 5px;
        a {
            color: $color-3;
            text-decoration: none; 
            img {
                @include tamanio(100%,50vh);
            }
            img:hover{
                border: solid 3px $color-4;
            }
        }
        a:hover {
            color: white;
        }
        a:active {
            color: $color-4;
        }
    }
}

/*--------------ESTILOS DE SECCION DE INDUMENTARIA Y NUEVOS INGRESOS---------------*/
.indumentaria , .ingresos {
    @include tamanio(100%,auto);
    /* margin: 2px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila */
    overflow: hidden; /* Evita que el contenido se desborde */;
    justify-content: space-around;
    gap: 3vh; /* Controla la separación entre los elementos */
    h2 {
        width: 100%;
        font-size: 2rem;
    }
    .card {
        width: 25vh;
        height: 50vh;
        margin: 10px;
        background-image: linear-gradient(to left, $color-5, rgb(143, 130, 238));
        box-sizing: 1px;
        border: none;
        border-radius: 15px;
        -webkit-box-shadow: 0px 5px 10px 8px rgba(143, 103, 198, 0.66); -moz-b
        
        .card-body {
            text-align: center;
            h3 {
                margin: 10px 0;
            }
            p {
                
            }
            button {
                a {
                    
                    text-decoration: none;
                }
            }
            button:active {
                color: $color-4;
            }
            button:hover{
                border: solid 2px $color-4;
            }
        }
    }
}

/*--------------ESTILOS DE SECCION DE SERVICIOS---------------*/
.servicios {
    @include tamanio(100%,100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
    padding-left: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    h2 {
        font-size: 2rem;
    }
    a {
        color: $color-3;
        text-decoration: none;
        font-size: 2.5vh;
        margin: 2px;
    }
    a:active {
        color: $color-4;
    }
    a:hover {
        color: white;
    }
}