/*-----------------ESTILOS GENERALES----------------*/

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(75, 70, 85);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    /* Fonts del body */
    font-family: "Poppins", sans-serif;
    font-weight: 200; 
    font-style: normal;
}
h1 {
    text-align: center;
    color: rgb(179, 149, 239);
    font-size: 7vh;
}
h2, h3 {
    text-align: left;
    /* background-color: rgb(44, 45, 45); */
    color: rgb(179, 149, 239);
    font-size: 1.3rem;
    /* Fonts de los h2*/
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style:normal;
}
p {
    color: white;
}
button {
    color: rgb(179, 149, 239);
    background-color: rgb(44, 45, 45);
    /* Fonts de los botones*/
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: rgb(179, 149, 239);
    text-decoration: none;    /*quita subrrayado*/
}
.container-fluid {
    flex-grow: 1; /*el contenedor ocupe todo el espacio disponible */
}

/*-------------------ESTILOS DEL HEADER-----------------*/

.header { 
    width: 100%;
    height: 21vh;
    background-image: url('/images/fondo.png');
    background-size: cover; /* Hace que la imagen cubra todo el área de la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Cambia el color del texto a blanco para contraste */
    font-weight: 400;
    
    text-align: center; 

    border: solid 1px white;
    margin: 2px;
}
.titulo {
    width: 100%;
    height: 6vh;
    text-align: center;
}
.login-carrito{
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    height: 7vh;
}
.login-carrito button {
    width: 20%;
    height: 3vh;
}
.login-carrito button:active {
    color: rgb(132, 0, 255);
}
.login-carrito button:hover{
    border: solid 1px rgb(132, 0, 255);
}


.nav {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(44, 45, 45);
    overflow: hidden;   
}
.nav ul {
    width: 100%;
    margin: 2px;
    padding: 0;
    display: flex; 
    justify-content:space-around;
    list-style-type: none;
    /* Fonts del nav */
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav li {
    float: left;
    border: solid 1px rgb(132, 0, 255);
    background-color: rgb(213, 194, 239);
    padding: 5px;
    margin: 3px;
    width: 100%;
    height: 5vh;
    overflow: hidden;
}
.nav a{
    display: block;
    text-align: center;
    
}
.nav li:hover {
    background-color: rgb(75, 70, 85);
}

/*--------------ESTILOS DE SECCION CAROUSEL---------------*/

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;
    align-content: center;
    overflow: hidden;

    border: solid 1px white;
    margin: 2px;
    padding: 1vh 0vh;
}

/*-------------ESTILOS DEL MAIN CATEGORIAS--------------*/

.categorias {
    list-style-type: none;
    width: 100%;
    
    padding-top: 2vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    text-align: center;
    font-size: 3vh;

    border: solid 1px white;
    margin: 2px;
}
.categorias img:hover{
    border: solid 1px rgb(132, 0, 255);
}
.categorias article {
    margin: 5px;
    width: 100%;
}
.categorias img {
    width: 100%;
    height: 90%;    
}
.categorias a:hover {
    color: rgb(132, 0, 255);
}
.categorias a:active {
    color: rgb(132, 0, 255);
}

/*-------------ESTILOS DE SECCION INDUMENTARIA------------*/

.indumentaria {
    width: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila */
    overflow: hidden; /* Evita que el contenido se desborde */;
    justify-content: space-around;
    gap: 3vh; /* Controla la separación entre los elementos */

    border: solid 1px white; 
}
.col h2 {
    font-size: 4vh;
    text-align: center;
    padding-top: 5vh;
}

/*-------------ESTILOS DE SECCION NUEVOS INGRESOS---------*/

.ingresos {
    width: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    overflow: hidden; /* Evita que el contenido se desborde */
    justify-content: space-around;
    gap: 3vh; /* Controla la separación entre los elementos */
    
    border: solid 1px white;
}

/*---------------ESTILOS DE ASIDE SERVICIOS---------------*/

.servicios {
    width: 100%;
    height: 25vh;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;

    border: solid 1px white;
    margin: 2px;
}
.servicios a:active {
    color: rgb(132, 0, 255);
}
.servicios a:hover {
    color: rgb(132, 0, 255);

}

/*-------------------ESTILOS DEL FOOTER-------------------*/

.footer {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-shrink: 0; /* Evita que el footer se reduzca */
    background-color: rgb(44, 45, 45);
    list-style-type: none;
    padding: 2vh;
    margin: 0;
    justify-content: space-around;


    /* Fonts del footer */
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;

    border: solid 1px white;
    margin: 2px;
}
.footer a{
    width: 100%;
    height: 4vh;
    text-align: center;
}
.footer a:active {
    color: rgb(132, 0, 255);
}
.footer a:hover{
    border: solid 1px rgb(132, 0, 255);
}

/* ESTILOS CARDS DE PRODUCTOS NUEVOS INGRESOS, CATALOGO Y OUTLET */
.card-body button:active {
    color: rgb(132, 0, 255);
}
.card-body button:hover{
    border: solid 2px rgb(132, 0, 255);
}
.card-body button {
    width: 50%;
}




/*-----------------------FIN ESTILOS INDEX.HTML----------------------------*/
/*-----------------------FIN ESTILOS INDEX.HTML----------------------------*/

/* ESTILOS NOSOTROS */
.nosotros {
    width: 100%;
    padding: 3vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;

}
.nosotros img {
    width: 80%;
    
    list-style-type: none;
    padding: 2vh;
    margin: 0;
    
}
.nosotros p {
    padding: 2vh;
    text-align: center;
}

/* ESTILOS COLECCION */
.contenedor-coleccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: center;
    align-content: center;
    overflow: hidden;

    border: solid 1px white;
    margin: 2px;
    padding: 1vh 0vh;
}
.contenedor-coleccion h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.contenedor-coleccion form {
    width: 100%;
    justify-content: center;
}
.contenedor-coleccion button {
    color: rgb(179, 149, 239);
    background-color: rgb(44, 45, 45);
    border: solid 1px rgb(132, 0, 255);
    
    /* Fonts de los botones*/
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contenedor-coleccion button:hover {
    color: rgb(132, 0, 255);;
    background-color: rgb(213, 194, 239);
    border: solid 1px rgb(132, 0, 255);
}
.contenedor-coleccion input {
    width: 70%;
    background-color: rgb(213, 194, 239);
}
.contenedor-articulos-coleccion {
    width: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila */
    overflow: hidden; /* Evita que el contenido se desborde */;
    gap: 3vh; /* Controla la separación entre los elementos */

    border: solid 1px white; 
}

/* ESTILOS CONTACTO MAYORISTA */

.contacto-mayorista{
    background-image: url(/images/contacto-mayorista.jpg);
    display: flex;
    justify-content: center;
    
}
.formulario {
    width: 100%;
    height: auto;
    border: 2px solid rgb(179, 149, 239);
    margin: 1vh;
    padding: 1vh;
    background-color: rgb(213, 194, 239); 
}
.formulario button {
    color: rgb(179, 149, 239);
    background-color: rgb(44, 45, 45);
    border: solid 1px rgb(132, 0, 255);
    
    /* Fonts de los botones*/
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.formulario button:hover {
    color: rgb(132, 0, 255);;
    background-color: rgb(213, 194, 239);
    border: solid 1px rgb(132, 0, 255);
}

/* ESTILOS MDPSTORE */
.datos-mdpstore {
    width: 100%;
    border: solid 1px white;
    list-style-type: none;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.datos-mdpstore h2 {
    text-align: center;
    font-size: 2rem;
}
.datos-mdpstore p {
    color: white;
}
.carousel-mdpstore {
    width: 100%;
    border: solid 1px white;
    margin: 1vh;
}
.mapa-mdpstore {
    width: 100%;
    border: solid 1px white;
    margin: 1vh;
    
    
}

/* ESTILOS OUTLET */

.contenedor-outlet h2 {
    text-align: center;
    font-size: 2rem;
}
.contenedor-outlet {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: center;
    align-content: center;
    overflow: hidden;

    border: solid 1px white;
    margin: 2px;
    padding: 1vh 0vh;
}
.contenedor-articulos-outlet {
    width: 100%;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se muevan a una nueva fila */
    overflow: hidden; /* Evita que el contenido se desborde */;
    gap: 3vh; /* Controla la separación entre los elementos */

    border: solid 1px white; 
}

